{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="card">
        <div class="card-header">
            User post list
        </div>
        <div class="card-body">
            {% for p in user_post_list %}
                <div class="card">
                    <div class="row">
                         <div class="col-4">
                            <p>
                                {{ p.theme }}
                            </p>
                             <p>
                                {{ p.description }}
                            </p>
                             <img src="{{ p.picture.url }}">
                        </div>
                    </div>
                    <div class="row">
                        {% if request.user == p.user %}
                            <div class="col-1 mt-2 mb-4">
                              <a href="{% url 'post-update' p.id %}" >
                                    <i class="fas fa-edit fa-lg"></i>
                              </a>
                            </div>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <div class="col-1 mt-2 mb-4">
                              <a href="{% url 'post-delete' p.id %}" >
                                    <i class="far fa-trash-alt fa-lg"></i>
                              </a>
                            </div>
                        {% endif %}
                        <div class="col-1 mt-2 mb-4">
                          <a href="{% url 'comment-create' p.id %}" >
                                <i class="fas fa-comment fa-lg"></i>
                          </a>
                        </div>
                    </div>

                     <div class="row">
                         <div class="col-4">
                             {% for c in p.comment_set.all %}
                             <div class="card">
                                    <p>
                                       {{ p.user }}
                                    </p>
                                    <p>
                                        {{ c.text }}
                                    </p>
                             </div>
                             {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}