<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>
        {% block title%}

        {% endblock %}
    </title>
</head>
<body>

    {% block extra_js %}

    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% if request.user.is_authenticated %}
        <div class="container">
             <div class="row justify-content-md-srart ml-3">
                 <p>
                     <a href="{% url 'logout' %}">Log out</a>
                 </p>
             </div>
        </div>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
